<!-- <ion-content > -->
  <div>

    <ion-toolbar color="gray">
      <ion-buttons end>
        <button ion-button icon-only (click)="showShoppingCart()">
          <ion-badge color="sunset-orange">{{ amountProductsRequested }}</ion-badge>
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>
  
      <!-- <ion-tabs color="pesto" tabsPlacement="top">
        <ion-tab  *ngFor="let option of options" (ionSelect)="goToPage(option)" [root]="option.component" [tabTitle]="option.title" [tabIcon]="option.icon"></ion-tab>
      </ion-tabs> -->
      <ion-segment [(ngModel)]="page" color="pesto">
        <ion-segment-button (click)="goToPage(option)" value="{{option.title}}" *ngFor="let option of options">{{option.title}}
          <ion-icon style="zoom:0.7;" name="{{option.icon}}"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
  <div>
    <ion-nav #tabs [root]="rootCreateOrderPage"></ion-nav>
  </div>
<!-- </ion-content> -->
