page-order-products {
  .background {
    // background-color: color($colors, straw);
    background-image: url("../assets/imgs/Trigo-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .title-product-card {
    text-align: center;
  }

  .content-product-card {
    padding: 0 !important;

    .item-input-amount {
      padding: 0 0 0px !important;
      // width: 100%;
      // height: 100px;
      // -moz-border-radius: 50px;
      // -webkit-border-radius: 50px;
      // border-radius: 10px;
      // margin-bottom: 10px;
    }

    .radio-ios {
      border: 2px solid black;
      border-radius: 9px;
      width: 20px;
      height: 22px;
      margin-bottom: -5px;
    }
  }

  input[type="number"] {
    // border: 1px solid #BBB;
    // border-color: #BBB #ECECEC #ECECEC #BBB;
    // width: 20%;
    padding: 0.2rem;
    margin: 0;
  }

  hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }

  .label-md {
    margin-bottom: 2px;
  }

  .options-card {
    height: 41px;

    .option-card {
      padding: 0 !important;
      display: inline-block;

      .chip-md {
        height: 26px;
      }

      ion-chip {
        font-size: 10px;
        // height: auto;
        width: auto;

        ion-label {
          margin-right: -2px;
          margin-top: -2px;
        }

        button {
          margin-top: -3px;
        }
      }
    }
  }
}
