page-home {
  .background {
    background-image: url("../assets/imgs/Trigo-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
